In [66]:
import pandas as pd
import numpy as np

In [67]:
url = 'https://raw.githubusercontent.com/DeBugg14/te-sppu-lab/main/Data-Science/Prac1/prac1.csv'
df = pd.read_csv(url)

In [68]:
df.isnull().sum()

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    2
diesel               0
gas                  0
dtype: int64

In [69]:
for col in ['stroke','horsepower','peak-rpm']:
    df[col].replace(np.nan,df[col].astype('float').mean(axis=0),inplace=True)
df.isnull().sum()

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    2
diesel               0
gas                  0
dtype: int64

In [70]:
df = df.dropna() #dropping the Nan object

In [71]:
df.dtypes

Unnamed: 0             int64
symboling              int64
normalized-losses      int64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
city-L/100km         float64
horsepower-binned     object
diesel                 int64
gas                    int64
dtype: object

In [72]:
df.shape

(199, 30)

In [73]:
df['city-L/100km'] = round(df['city-L/100km'],4) #data formatting

In [75]:
df['horsepower'] = df['horsepower']/df['horsepower'].max() #data normalisation

In [76]:
df['engine-location'].replace(['front','rear'],[1,0],inplace=True)
df

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,1,88.6,...,9.0,0.423664,5000.0,21,27,13495.0,11.1905,Low,0,1
1,1,3,122,alfa-romero,std,two,convertible,rwd,1,88.6,...,9.0,0.423664,5000.0,21,27,16500.0,11.1905,Low,0,1
2,2,1,122,alfa-romero,std,two,hatchback,rwd,1,94.5,...,9.0,0.587786,5000.0,19,26,16500.0,12.3684,Medium,0,1
3,3,2,164,audi,std,four,sedan,fwd,1,99.8,...,10.0,0.389313,5500.0,24,30,13950.0,9.7917,Low,0,1
4,4,2,164,audi,std,four,sedan,4wd,1,99.4,...,8.0,0.438931,5500.0,18,22,17450.0,13.0556,Low,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,-1,95,volvo,std,four,sedan,rwd,1,109.1,...,9.5,0.435115,5400.0,23,28,16845.0,10.2174,Low,0,1
197,197,-1,95,volvo,turbo,four,sedan,rwd,1,109.1,...,8.7,0.610687,5300.0,19,25,19045.0,12.3684,Medium,0,1
198,198,-1,95,volvo,std,four,sedan,rwd,1,109.1,...,8.8,0.511450,5500.0,18,23,21485.0,13.0556,Medium,0,1
199,199,-1,95,volvo,turbo,four,sedan,rwd,1,109.1,...,23.0,0.404580,4800.0,26,27,22470.0,9.0385,Low,1,0
200,200,-1,95,volvo,turbo,four,sedan,rwd,1,109.1,...,9.5,0.435115,5400.0,19,25,22625.0,12.3684,Low,0,1