In [19]:
import pandas as pd

In [20]:
url_link = 'https://raw.githubusercontent.com/DeBugg14/te-sppu-lab/main/Data-Science/Prac3/wages.csv'
df = pd.read_csv(url_link)

In [21]:
df.shape

(1379, 6)

In [22]:
df.min()

earn     -98.580489
height        57.34
sex          female
race          black
ed                3
age              22
dtype: object

In [23]:
df.max()

earn      317949.127955
height            77.21
sex                male
race              white
ed                   18
age                  95
dtype: object

In [26]:
df['age'].mode()

0    36
Name: age, dtype: int64

In [25]:
df['age'].median()

42.0

In [27]:
df['age'].std()

15.789714597720446

In [35]:

for col in ['age','earn','height','ed']:
    print(round(df[col].mean(),2))

45.33
32446.29
66.59
13.35

In [30]:
df['age'].groupby(df['ed']).describe() #groupby

    count       mean        std   min    25%   50%    75%   max
ed
3     1.0  68.000000        NaN  68.0  68.00  68.0  68.00  68.0
4     2.0  67.000000   1.414214  66.0  66.50  67.0  67.50  68.0
5     5.0  69.800000  13.367872  55.0  62.00  66.0  77.00  89.0
6     7.0  67.571429  11.443443  44.0  66.00  71.0  73.50  79.0
7     3.0  53.000000   8.000000  45.0  49.00  53.0  57.00  61.0
8    28.0  57.071429  17.090020  24.0  46.00  60.0  68.50  87.0
9    23.0  53.782609  17.929043  25.0  46.00  55.0  65.50  88.0
10   37.0  52.459459  21.595517  22.0  35.00  52.0  72.00  91.0
11   39.0  46.333333  15.863452  22.0  34.00  42.0  56.50  76.0
12  520.0  44.644231  15.938900  22.0  32.00  41.0  55.00  95.0
13  119.0  44.403361  16.024515  22.0  32.00  41.0  52.00  87.0
14  192.0  44.197917  15.370550  22.0  32.00  41.0  54.25  85.0
15   66.0  43.515152  16.020412  24.0  30.00  42.0  51.75  87.0
16  187.0  42.229947  13.778804  23.0  33.00  38.0  47.00  95.0
17   70.0  43.571429  11.917070  27.0  34.25  43.0  47.00  83.0
18   80.0  49.225000  12.323668  29.0  40.75  48.0  56.25  86.0