In [30]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("darkgrid")

df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
from sklearn.naive_bayes import GaussianNB

In [3]:
nb = GaussianNB()

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
df["species"]=le.fit_transform(df["species"])
y = df["species"]
x= df.drop("species",axis=1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [12]:
model = nb.fit(x_train,y_train)

In [13]:
y_pred = model.predict(x_test)

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,classification_report

In [18]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[ 9,  0,  0],
       [ 0, 11,  2],
       [ 0,  0,  8]], dtype=int64)

In [19]:
accuracy_score(y_test,y_pred)

0.9333333333333333

In [27]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      0.85      0.92        13
           2       0.80      1.00      0.89         8

    accuracy                           0.93        30
   macro avg       0.93      0.95      0.94        30
weighted avg       0.95      0.93      0.93        30